<div *ngIf="weapon">
  <h2>{{weapon.name | uppercase}} Details</h2>
  <div><span>Class: </span>{{weapon.weaponClass}}</div>
  <div><span>Ammo: </span>{{weapon.ammoType}}</div>
  <div><span>Magazine Capacity: </span>{{weapon.capacity}}</div>
  <div><span>Extended Capacity: </span>{{weapon.capacityExtended}}</div>
  <div><span>Base Damage: </span>{{weapon.baseDamage}}</div>
  <div><span>Rate of Fire: </span>{{(1 / weapon.fireRate) | number: '1.2-2'}} rounds/sec</div>
  <div><span>Range: </span>{{weapon.range}}</div>
</div>
