<div>
  <h2>Weapon Class: <span *ngIf="selectedClass">{{selectedClass.name}}</span></h2>
  <ul class="weapon-classes">
    <li [ngStyle]="{ 'background-image': 'url(../assets/M16A4.png)'}"
        [class.selected]="selectedClass === null"
        (click)="onSelect(null)">
      All
    </li>
    <li *ngFor="let class of classes"
        [ngStyle]="{ 'background-image': 'url(../assets/' + class.imageName + '.png)'}"
        [class.selected]="class === selectedClass"
        (click)="onSelect(class)">
      {{class.name}}
    </li>
  </ul>
</div>
<app-weapons [weaponClassId]="selectedClassId"></app-weapons>
