<app-hit-area-selection (onHitAreaSelected)="onHitAreaSelected($event)"></app-hit-area-selection>

<app-armor-selection (onArmorSelected)="onArmorSelected($event)"
                     (onHelmetSelected)="onHelmetSelected($event)"></app-armor-selection>

<app-weapon-classes (onWeaponSelectedByChild)="onWeaponSelected($event)"></app-weapon-classes>

<div *ngIf="damage">
  <h3>Damage per hit: {{damage | number:'1.2-2'}}</h3>
  <h3>Hits to kill: {{hitsToKill}}</h3>
  <h3>Time to kill: {{timeToKill | number:'1.2-2'}}</h3>
</div>
