<div class="helmets-container">
  <h2>Helmet: <span *ngIf="selectedHelmet">{{selectedHelmet.name}}</span></h2>
  <ul class="helmets">
    <li *ngFor="let helmet of helmets"
        [ngStyle]="{ 'background-image': 'url(../assets/' + helmet.imageName + '.png)'}"
        [class.selected]="helmet === selectedHelmet"
        (click)="onSelectHelmet(helmet)">
      {{helmet.name}}
    </li>
  </ul>
</div>
<div class="armor-container">
  <h2>Armor: <span *ngIf="selectedArmor">{{selectedArmor.name}}</span></h2>
  <ul class="armor">
    <li *ngFor="let armor of armors"
        [ngStyle]="{ 'background-image': 'url(../assets/' + armor.imageName + '.png)'}"
        [class.selected]="armor === selectedArmor"
        (click)="onSelectArmor(armor)">
      {{armor.name}}
    </li>
  </ul>
</div>
