.selected {
  background-color: #0368e54d !important;
  color: white;
}

.helmets-container {
  width:550px;
  display:inline-block;
}

.helmets {
  height: 120px;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 150em;
}

  .helmets li {
    float: left;
    border-radius: 50%;
    background-position: 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    padding: 2px;
    margin: 2px;
    border: 3px solid #999;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

    .helmets li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

  .helmets a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }

    .helmets a:hover {
      color: #607D8B;
    }

.armor-container {
  width: 550px;
  display: inline-block;
}


.armor {
  height: 120px;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 150em;
}

  .armor li {
    float: left;
    border-radius: 50%;
    background-position: 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    padding: 2px;
    margin: 2px;
    border: 3px solid #999;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

    .armor li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

  .armor a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }

    .armor a:hover {
      color: #607D8B;
    }
